/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include "keymap_norwegian.h"

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                                             ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐ 0
// │  TAB    │  Q      │  W      │  F      │  P      │  B      │                                             │  J      │  L      │  U      │  Y      │  '      │BACKSPACE│
    &kp TAB   &kp Q     &kp W     &kp F     &kp P     &kp B                                                   &kp J     &kp L     &kp U     &kp Y     &kp N_SQT &kp BSPC
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │  NOR    │  A      │  R      │  S      │  T      │  G      │                                             │  M      │  N      │  E      │  I      │  O      │  ENTER  │
    &mo 5     &kp A     &kp R     &kp S     &kp T     &kp G                                                   &kp M     &kp N     &kp E     &kp I     &kp O     &kp RET
// └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘                                             └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘
//           │  Z      │  X      │  C      │  D      │                                                                 │  H      │  ,      │  .      │  -      │
              &kp Z     &kp X     &kp C     &kp D                                                                       &kp H     &kp COMMA &kp DOT   &kp N_MNS
//           └─────────┴─────────┴─────────┴─────────┘┌─────────┬─────────┬─────────┐   ┌─────────┬─────────┬─────────┐└─────────┴─────────┴─────────┴─────────┘
//                                                    │  V      │  SPACE  │  CTRL   │   │  FUNC   │  SHIFT  │  K      │
                                                       &kp V     &kp SPACE &kp LCTRL     &mo 1     &kp LSHFT &kp K
//                                                    └─────────┴─────────┴─────────┘   └─────────┴─────────┴─────────┘
                        >;
                };
				
                function_layer {
                        bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                                             ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐ 1
// │  ESCAPE │  F1     │  F2     │  F3     │  F4     │  CAPS   │                                             │ PAGE UP │  HOME   │  ↑      │  END    │  ALT    │         │
    &kp ESC   &kp F1    &kp F2    &kp F3    &kp F4    &kp CAPS                                                &kp PG_UP &kp HOME  &kp UP    &kp END   &kp LALT  &trans
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │  INSERT │  F5     │  F6     │  F7     │  F8     │  DELETE │                                             │PAGE DOWN│  ←      │  ↓      │  →      │  GUI    │         │
    &kp INS   &kp F5    &kp F6    &kp F7    &kp F8    &kp DEL                                                 &kp PG_DN &kp LEFT  &kp DOWN  &kp RIGHT &kp LGUI  &trans
// └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘                                             └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘
//           │  F9     │  F10    │  F11    │  F12    │                                                                 │         │         │         │PRINTSCRN│
              &kp F9    &kp F10   &kp F11   &kp F12                                                                     &none     &none     &none     &kp PSCRN
//           └─────────┴─────────┴─────────┴─────────┘┌─────────┬─────────┬─────────┐   ┌─────────┬─────────┬─────────┐└─────────┴─────────┴─────────┴─────────┘
//                                                    │  SHIFT  │         │  SYMBOL │   │         │  GAME   │  CTRL   │
                                                       &kp LSHFT &trans    &mo 2         &trans    &tog 3    &kp LCTRL
//                                                    └─────────┴─────────┴─────────┘   └─────────┴─────────┴─────────┘
                        >;
                };
				
				symbol_layer {
                        bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                                             ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐ 2
// │  ^      │  <      │  (      │  {      │  [      │  !      │                                             │  +      │  7      │  8      │  9      │  *      │  &      │
    &kp N_CAR &kp N_LT  &kp N_LPR &kp N_LCB &kp N_LSB &kp N_EXC                                               &kp N_PLS &kp N7    &kp N8    &kp N9    &kp N_AST &kp N_AMP
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │  @      │  >      │  )      │  }      │  ]      │  ?      │                                             │  -      │  4      │  5      │  6      │  /      │  |      │
    &kp N_AT  &kp N_GT  &kp N_RPR &kp N_RCB &kp N_RSB &kp N_QUE                                               &kp N_MNS &kp N4    &kp N5    &kp N6    &kp N_FSL &kp N_PIP
// └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘                                             └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘
//           │  ~      │  $      │  #      │BACKSLASH│                                                                 │  1      │  2      │  3      │  %      │
              &kp N_TLD &kp N_DLR &kp N_HAS &kp N_BSL                                                                   &kp N1    &kp N2    &kp N3    &kp N_PRC
//           └─────────┴─────────┴─────────┴─────────┘┌─────────┬─────────┬─────────┐   ┌─────────┬─────────┬─────────┐└─────────┴─────────┴─────────┴─────────┘
//                                                    │  "      │         │         │   │         │  =      │  0      │
                                                       &kp N_DQT &none     &trans        &none     &kp N_EQL &kp N0
//                                                    └─────────┴─────────┴─────────┘   └─────────┴─────────┴─────────┘
                        >;
                };
				
				gaming_layer {
                        bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                                             ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐ 3
// │  ESC    │  1      │  2      │  3      │  4      │  5      │                                             │         │         │         │         │         │         │
    &kp ESC   &kp N1    &kp N2    &kp N3    &kp N4    &kp N5                                                  &none     &none     &none     &none     &none     &none
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │  TAB    │  SHIFT  │  Q      │  W      │  E      │  R      │                                             │         │         │         │         │         │         │
    &kp TAB   &kp LSHFT &kp Q     &kp W     &kp E     &kp R                                                   &none     &none     &none     &none     &none     &none
// └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘                                             └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘
//           │  CTRL   │  A      │  S      │  D      │                                                                 │         │         │         │         │
              &kp LCTRL &kp A     &kp S     &kp D                                                                       &none     &none     &none     &none
//           └─────────┴─────────┴─────────┴─────────┘┌─────────┬─────────┬─────────┐   ┌─────────┬─────────┬─────────┐└─────────┴─────────┴─────────┴─────────┘
//                                                    │  F      │  SPACE  │  Fn     │   │         │  GAME   │         │
                                                       &kp F     &kp SPACE &mo 4         &none     &tog 3    &none
//                                                    └─────────┴─────────┴─────────┘   └─────────┴─────────┴─────────┘
                        >;
                };
				
				gaming_fn_layer {
                        bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                                             ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐ 4
// │         │  F1     │  F2     │  F3     │  F4     │  F5     │                                             │  F6     │  F7     │  F8     │  F9     │  F10    │  F11    │
    &trans    &kp F1    &kp F2    &kp F3    &kp F4    &kp F5                                                  &kp F6    &kp F7    &kp F8    &kp F9    &kp F10   &kp F11
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │         │         │         │         │         │         │                                             │         │         │         │         │         │  F12    │
    &trans    &trans    &trans    &trans    &trans    &trans                                                  &none     &none     &none     &none     &none     &kp F12
// └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘                                             └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘
//           │         │         │         │         │                                                                 │         │         │         │         │
              &trans    &trans    &trans    &trans                                                                      &none     &none     &none     &none
//           └─────────┴─────────┴─────────┴─────────┘┌─────────┬─────────┬─────────┐   ┌─────────┬─────────┬─────────┐└─────────┴─────────┴─────────┴─────────┘
//                                                    │         │         │         │   │         │         │         │
                                                       &trans    &trans    &trans        &none     &none     &none
//                                                    └─────────┴─────────┴─────────┘   └─────────┴─────────┴─────────┘
                        >;
                };
				
				norwegian_layer {
                        bindings = <
// ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐                                             ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐ 5
// │         │         │         │         │         │         │                                             │         │         │         │         │         │         │
    &trans    &trans    &trans    &trans    &trans    &trans                                                  &trans    &trans    &trans    &trans    &trans    &trans
// ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤                                             ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤
// │         │         │         │         │         │         │                                             │         │  Æ      │  Ø      │  Å      │         │         │
    &trans    &trans    &trans    &trans    &trans    &trans                                                  &trans    &kp N_AE  &kp N_OO  &kp N_AA  &trans    &trans
// └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘                                             └─────────┼─────────┼─────────┼─────────┼─────────┼─────────┘
//           │         │         │         │         │                                                                 │         │         │         │         │
              &trans    &trans    &trans    &trans                                                                      &trans    &trans    &trans    &trans
//           └─────────┴─────────┴─────────┴─────────┘┌─────────┬─────────┬─────────┐   ┌─────────┬─────────┬─────────┐└─────────┴─────────┴─────────┴─────────┘
//                                                    │         │         │         │   │         │         │         │
                                                       &trans    &trans    &trans        &trans    &trans   &trans
//                                                    └─────────┴─────────┴─────────┘   └─────────┴─────────┴─────────┘
                        >;
                };
        };
};
