config SHIELD_CHOCTA_V1_LEFT
	def_bool $(shields_list_contains,chocta_v1_left)
	
config SHIELD_CHOCTA_V1_RIGHT
	def_bool $(shields_list_contains,chocta_v1_right)
	
config SHIELD_NICE_NANO_V2
	def_bool $(shields_list_contains,nice_nano_v2)